[submodule "modules/emscripten"]
	path = modules/emscripten
	url = ../../Euclideon/premake-emscripten.git
[submodule "modules/vstool"]
	path = modules/vstool
	url = ../../Euclideon/premake-vstool.git
